.search {
  width: 100%;
  box-sizing: border-box;

  input {
    padding: 14px 18px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;

    &:focus {
      padding: 14px 24px;
      outline: none;
      border-radius: 0;
    }
  }
}
