.BotCard {
  box-sizing: border-box;
  border: 1px solid var(--background-contrast);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: var(--background-alt);
  font-family: var(--font-family);
  border-radius: var(--card-border-radius);

  &:hover {
    background-color: var(--background);
    border-radius: var(--card-border-radius-hover);
  }
}

.top {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 8px;
  position: relative;

  .icon {
    opacity: 0.5;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .name {
    font-size: 20px;
    font-weight: 500;
  }
}

.body {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 24px;
}

.tags {
  display: flex;
  position: absolute;
  top: 14px;
  right: 14px;
  margin: 0;

  .tag {
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 8px;
    color: var(--text-color);
    background-color: var(--background);
    font-weight: 600;
    opacity: 0.8;
  }

  .running {
    background-color: var(--success-color);
  }

  .not_running {
    background-color: var(--danger-color);
  }
}

.owner {
  margin: 0;
  font-weight: 500;
}
