.OrganizationCard {
  height: 100%;
  aspect-ratio: 1/1;
  border: 1px solid var(--background-contrast);
  padding: 18px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 14px;
  color: var(--text-color-light);

  &:hover {
    background-color: var(--background-alt);
  }

  &:active {
    transform: translateY(2px);
  }

  .iconContainer {
    font-size: 24px;
  }

  .name {
    font-weight: 500;
    font-size: 18px;
  }
}

.small {
  padding: 8px;

  .iconContainer {
    font-size: 20px;
  }

  .name {
    font-size: 14px;
  }
}
