.Organizations {
  padding: 24px 24px;

  @media screen and (min-width: 768px) {
    padding: 24px 56px;
  }
}

.Organizations__container {
  // 1 column on mobile, 2 columns on tablet and up
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 14px;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
  }
}
