.FeedbackCard {
  box-sizing: border-box;
  border: 1px solid var(--background-contrast);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: var(--font-family);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-alt);
  border-radius: var(--card-border-radius);

  &:hover {
    background-color: var(--background-color);
    border-radius: var(--card-border-radius-hover);
  }
}

.top {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 8px;
  position: relative;

  .icon {
    opacity: 0.5;
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  .name {
    font-size: 20px;
    font-weight: 500;
  }
}

.body {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 8px 24px;

  .messages {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    background-color: var(--background-dark);
    border-radius: 5px;
  }
}

.tags {
  display: flex;
  margin: 0;
  margin-top: 14px;
  gap: 8px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;

  .tag {
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 8px;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--background-color);
    opacity: 0.8;
  }
}

.bottom {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 8px;
  position: relative;

  .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;
    width: 100%;
    box-sizing: border-box;
  }
}
