.Home {
  width: 100%;
  box-sizing: border-box;
  padding: 36px 24px;
}

.top {
  .top_text {
    margin: 0;
    margin-bottom: 24px;
  }

  .big_text {
    margin: 0;
    font-weight: 300;
    font-family: "Lato", sans-serif;
  }
}
