.Context {
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  text-align: center;
}

.header {
  border-bottom: 1px solid var(--background-contrast);
  padding-bottom: 18px;
  margin-bottom: 36px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  flex-direction: column;
  gap: 24px;

  @media screen and (min-width: 768px) {
    padding-bottom: 18px;
    margin-bottom: 36px;
    width: 100%;
    flex-direction: row;
    position: sticky;
    top: 72px;
    backdrop-filter: blur(10px);
    z-index: 50;
  }

  h1 {
    margin: 0;
    font-family: "Lato", sans-serif;

    span {
      font-size: 16px;
      font-weight: 500;
      opacity: 0.6;
      margin-left: 14px;
      vertical-align: text-bottom;
    }
  }
}

.contextFormContainer {
  margin: 36px 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  animation: addIntentIn 0.5s ease-in-out forwards;
  background-color: var(--background-color);
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 50%;
    margin-inline: auto;
  }
}

.content {
}

.contextPair {
  border: 1px solid var(--background-contrast);
  border-left: 1px solid var(--background-contrast);
  padding: 8px 14px;
  display: flex;
  align-items: center;
  gap: 14px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    border-left: 1.5px solid var(--primary-color);
    padding-left: 18px;
    background-color: var(--background-alt);
  }

  @media (min-width: 768px) {
    padding-left: 18px;
    gap: 24px;

    &:hover {
      padding-left: 24px;
      gap: 18px;
    }
  }

  .label {
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    margin: 0;
    width: 25%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: lowercase;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 14px;

    @media (min-width: 768px) {
      width: 20%;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 8px;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        font-size: 14px;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  .value {
    font-size: 16px;
    opacity: 0.75;
    padding: 0;
    margin: 0;
    text-align: left;
    max-height: 82px;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-y: scroll;
    width: 75%;
    box-sizing: border-box;
    // thin scrollbar
    scrollbar-width: thin;
    scrollbar-color: var(--background-contrast) transparent;
    transition: all 0.2s ease-in-out;
    font-weight: 400;

    &::-webkit-scrollbar {
      width: 4px;
    }

    @media (min-width: 768px) {
      width: 80%;
    }

    &:hover,
    &:focus,
    &:active {
      max-height: initial;
    }
  }
}

.selected {
  max-height: initial;
  border: 1.5px solid var(--primary-color);
  padding-left: 18px;
  background-color: var(--background-alt);

  @media (min-width: 768px) {
    padding-left: 24px;
    gap: 18px;
  }

  .label {
    width: 20%;
    white-space: pre-wrap;
  }

  .value {
    max-height: initial;
  }
}
