.chatBox {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0.2px 0.2px 10px rgba($color: #000000, $alpha: 0.5);
  height: 500px; // ! should be modified
  position: relative;
  background-color: #000000;
  background: linear-gradient(
    90deg,
    rgba(135, 9, 232, 0.35) 25%,
    rgba(22, 20, 219, 0.35) 60%,
    rgba(0, 0, 0, 0.35) 100%
  );
  padding-inline: 0;
  padding-bottom: 64px;

  @media (min-width: 768px) {
    padding-inline: 24px;
  }
}

.chatBoxInput {
  position: absolute;
  bottom: 14px;
  box-sizing: border-box;
  left: 14px;
  right: 14px;
  background-color: #000000;
  display: flex;
  box-shadow: inset 0.2px 0.2px 20px rgba(0, 0, 0, 0.15);
  height: 45px;
  flex-direction: column;
  border-radius: 5px 0 0 5px;
  transition: all 0.3s ease-in-out;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  &:focus-within {
    border-radius: 0;
  }

  .tooltip {
    position: absolute;
    top: -24px;

    p {
      margin: 0;
      color: white;
      font-size: 12px;
    }
  }

  input {
    height: 100%;
    border: none;
    padding: 0 24px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    color: white;
    font-family: "QuickSand", sans-serif;
    width: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;

    &:focus {
      border-left: 2.5px solid rgba($color: #fff, $alpha: 0.75);
      opacity: 1;
    }
  }

  button {
    height: 100%;
    font-family: "QuickSand", sans-serif;
    font-weight: 600;
    width: 124px;
    box-sizing: border-box;
    border: none;
    background: linear-gradient(
      90deg,
      #1614db -0.29%,
      rgba(135, 9, 232, 0.35) 100%
    );
    box-shadow: -2px 0px 15px rgba(0, 0, 0, 0.15);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 0.9;
    display: none;

    @media (min-width: 768px) {
      display: inline-block;
    }

    &:hover {
      opacity: 1;
      border-radius: 5px 0 0 5px;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.chatBoxMessages {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 24px;
  box-sizing: border-box;
  // make scrollbar transparent
  &::-webkit-scrollbar {
    width: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat {
  box-sizing: border-box;
  width: 80%;
  padding: 14px 18px;
  box-shadow: 0.2px 0.2px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
  border-radius: 5px;

  @media (min-width: 768px) {
    width: 60%;
  }
}

.chatMessage {
  color: white;
  padding: 0;
  margin: 0;
}

@keyframes chatIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.user {
  background-color: black;
  margin-left: auto;
  animation-name: chatIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.bot {
  margin-right: auto;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(22, 20, 219, 0.8) 0%,
    rgba(74, 15, 225, 0.6) 50%,
    rgba(135, 9, 232, 0.3) 100%
  );
  animation-name: chatIn;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  position: relative;

  a {
    color: white;
    text-decoration: underline;
  }

  .options {
    position: absolute;
    right: -36px;

    &__report {
      font-size: 16px;
      border: none;
      background-color: transparent;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #ff0000;
      }
    }
  }
}

.chatLoading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 45px;
  height: 45px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  margin: 4px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
