.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // background-color: black;
  padding-inline: 24px;

  @media (min-width: 768px) {
    height: 100vh;
    padding-inline: 56px;
  }
}

.header {
  margin-bottom: 56px;
  width: 100%;
}

.chatboxContainer {
  background-color: black;
  width: 100%;

  @media (min-width: 768px) {
    width: 80%;
  }
}
