.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // background-color: black;
  padding-inline: 24px;

  @media (min-width: 768px) {
    height: calc(100vh - 116px);
    padding-inline: 56px;
  }
}

.chatboxContainer {
  background-color: black;
  width: 100%;

  @media (min-width: 768px) {
    width: 50%;
  }
}
